html, body {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    top:90px;
    height: 90vh;
    margin: 0;
}
.links > a {
    color: #f6ffff;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f6ffff;
}

li {
    float: left;
}
li a {
    display: block;
    color: #4858ff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #cbff97;
    border-radius: 2px;
}
.navbar{
    padding-bottom: 3px;
    background-color: transparent;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.container{
    position: relative;
    top:70px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-auto-rows: minmax(700px,auto);
}
.luachon{
    border-width: thin;
    border-right-color: black;
    border-left-color: transparent;
    border-bottom-color: transparent;
    background-color: #f6ffff;

}
.luacon2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.5em;
}
.luacon2 > div{
    border-width: 0.02px;
    margin: 2px;
    padding: 10px;
}
.luachon3{
    background-color: #f6ffff;
}
.text{
    background-color: #f6ffff;
    font-family: "Inconsolata", "Fira Mono", "Source Code Pro", Monaco, Consolas, "Lucida Console", monospace;
    position: absolute;
    top: 3.14%;
    left: 10%;
    width: 83%;
    height: 6.7%;
    border-color: #0c092a;
    margin: 10px;
    border-style: solid;
    border-width: 1px;
}
.block{
    border-style: solid;
    border-width: thin;
}