html, body {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    top:90px;
    height: 90vh;
    margin: 0;
}
.links > a {
    color: #f6ffff;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #312fff;
}

li {
    float: left;
}
li a {
    display: block;
    color: #f6ffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    color: #8b1121;
    background-color: #cbff97;
    border-radius: 2px;
}
.navbar{

    padding-bottom: 3px;
    background-color: #312fff;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.container{
    position: relative;
    top:70px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-auto-rows: minmax(700px,auto);
}
.luachon{
    border-width: thin;
    border-right-color: black;
    border-left-color: transparent;
    border-bottom-color: transparent;
    background-color: #f6ffff;

}
.luacon2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.5em;
}
.luacon2 > div{
    border-width: 0.02px;
    margin: 2px;
    padding: 10px;
}
.luachon3{
    background-color: #f6ffff;
}
.text{
    background-color: #f6ffff;
    font-family: "Inconsolata", "Fira Mono", "Source Code Pro", Monaco, Consolas, "Lucida Console", monospace;
    position: absolute;
    top: 3.14%;
    left: 10%;
    width: 83%;
    height: 6.7%;
    border-color: #0c092a;
    margin: 10px;
    border-style: solid;
    border-width: 1px;
}
.block{
    border-style: solid;
    border-width: thin;

}
.block1{
    border-style: solid;
    border-width: thin;
    background-color: #0b138b;
    border-radius: 5px;
}
button:hover{
     color: #8b1121;
     border-radius: 5px;
     border: 2px solid #8b0a1c;
 }
.btn {
    border-style: hidden;
    border-radius: 5px;
    background-color: #f2fffa;
    color: #4f66ff;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.btn:hover{
    color: #8b1121;
}
img {
    border-radius: 50%;
    border: 2px solid #ddd;

}



/* Outer */
.popup {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.75);
}

/* Inner */
.popup-inner {
    max-width:700px;
    width:90%;
    padding:40px;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background:#fff;
}

/* Close Button */
.popup-close {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:0px;
    right:0px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background:rgba(0,0,0,0.8);
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
}

.popup-close:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:rgba(0,0,0,1);
    text-decoration:none;
}
