.main-container{
    background-color: #f6ffff;
}
.index-intro{
    width: 100%;
    background-color: #f6ffff;
}
.index-intro .jumbotron{
    padding: 100px 60px;
    margin: 0px;
    background-image: url('/image/banner3.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.left{
    background-color: #f6ffff;
}
.right{
    background-color: #f6ffff;
}
.center h3{
    text-align: center;

}
.center button{
    height:30px;
    width:100px;
    position:relative;
    top:50%;
    left:30%;
}
.center{
    background-color: #f6ffff;
}
.navbar-default{
    position: fixed;
    width: 100%;
    top:0px;
    z-index: 1;

}
.gallery{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f6ffff;
}
.navbar-default .container-fluid{
    background-color: #f6ffff;
}
.navbar-default .container-fluid .date{
    position: absolute;
    background-color: #68b9f3;
    top: 15px;
    width: 10%;
    left: 3px;
}

