html, body {

    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    margin: 0;
}
.title {
    font-size: 60px;
}
.links > a {
    color: #f6ffff;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #312fff;
}

li {
    float: left;
}
li a {
    display: block;
    color: #dff8ff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 5px;
}
li a:hover {
    color: #8b1121;
    background-color: #cbff97;
}
.text{
    background-color: #f6ffff;
    font-family: "Inconsolata", "Fira Mono", "Source Code Pro", Monaco, Consolas, "Lucida Console", monospace;
    position: absolute;
    top: 3.14%;
    left: 10%;
    width: 83%;
    height: 6.7%;
    border-color: #0c092a;
    margin: 10px;
    border-style: solid;
    border-width: 1px;
}
.main-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.nested{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2px;
}
.nested > div{
    border-style: solid;
    border-width: thin;
    border-radius: 3px;
    margin-top: 1em;
    background-color: #f2fffa;
    padding: 1em;
    text-align: center;
}
img {
    border-radius: 50%;
}
.btn {
    border-style: hidden;
    border-radius: 5px;
    background-color: #f2fffa;
    color: #4f66ff;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    left: 50%;
}
.btn:hover{
    color: #8b1121;
    border-color: #8b1121;

}
.fail{
    display: grid;
    grid-template-columns: 1fr;
}
img {
    border-radius: 50%;
}
.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}