
body{
    background-color: #f6ffff;

}
.navbar{
    background-color: #312fff;
    text-decoration: none;
    list-style-type: none;
}
a{
    text-decoration: none;
}
.links > a {
    color: #f6ffff;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #312fff;
}
.navbar > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #312fff;
}
li {
    float: left;
}
li a {
    background-color: #312fff;
    display: block;
    color: #dff8ff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 5px;
}
li a:hover {
    color: #8b1121;
    background-color: #cbff97;
}
.text{
    background-color: #f6ffff;
    font-family: "Inconsolata", "Fira Mono", "Source Code Pro", Monaco, Consolas, "Lucida Console", monospace;
    position: absolute;
    top: 3.14%;
    left: 10%;
    width: 83%;
    height: 6.7%;
    border-color: #0c092a;
    margin: 10px;
    border-style: solid;
    border-width: 1px;
}
.icon{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

img {
    border-radius: 50%;
    border: 2px solid #ddd;

}
.col{
}